<!DOCTYPE html>
<html>

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title>บริษัท โตโยต้าชุมพร ผู้จำหน่ายโตโยต้า จำกัด</title>
    <meta name="keywords" content="บริษัท โตโยต้าชุมพร ผู้จำหน่ายโตโยต้า จำกัด" />
    <meta name="description" content="บริษัท โตโยต้าชุมพร ผู้จำหน่ายโตโยต้า จำกัด">
    <meta name="author" content="SCIM">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' type='text/css' href='css/fonts-googleapis.css'>
    <link rel='stylesheet' type='text/css' href='css/assets/fonts/glyphicons-pro/glyphicons-pro.css'>

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="css/assets/skin/default_skin/css/theme.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- Stateface CSS(font) -->
    <link rel="stylesheet" type="text/css" href="css/assets/fonts/stateface/stateface.css">

    <!-- Admin Forms CSS -->
    <link rel="stylesheet" type="text/css" href="css/assets/admin-tools/admin-forms/css/admin-forms.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="css/assets/img/favicon.ico">
    <script type="text/javascript" src="js/base64.js"></script>
    <script type="text/javascript" src="js/json2.js"></script>

    <!-- jQuery -->
    <script type="text/javascript" src="js/vendor/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/vendor/jquery/jquery.session.js"></script>
    <script type="text/javascript">
        if (($.session.get('username') !== undefined) && ($.session.get('username') !== '')) {
            window.location.href = '/index';
        }
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
        /*alert styles*/
        
        #alert-info-1,
        #alert-warning-1,
        #alert-danger-1,
        #alert-success-1 {
            display: none;
        }
    </style>
</head>

<body class="external-page sb-l-c sb-r-c">
    <!-- Start: Main -->
    <div id="main" class="animated fadeIn">
        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">
            <!-- begin canvas animation bg -->
            <div id="canvas-wrapper">
                <canvas id="demo-canvas"></canvas>
            </div>
            <!-- Begin: Content -->
            <section id="content">
                <div class="admin-form theme-info" id="login1">
                    <div class="row mb15 table-layout">
                        <div class="col-xs-6 va-m pln">
                            <a href="login" title="login">
                                <img src="images/logo-dmsplus.png" title="DMSPlus Logo" class="img-responsive w250">
                            </a>
                        </div>
                        <div class="col-xs-6 text-right va-b pr5">
                            <div class="login-links">
                                <span class="" title="DMSPlus">บริษัท โตโยต้าชุมพร ผู้จำหน่ายโตโยต้า จำกัด</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info mt10 br-n">
                        <div class="panel-heading heading-border bg-white">
                            <span class="panel-title hidden"><i class="fa fa-sign-in"></i>Login</span>
                            <div class="section row mn">
                                <h2 class="mtn"><span class="glyphicons glyphicons-keys ml10 mr10"></span> Login เข้าใช้งานระบบ</h2>
                            </div>
                        </div>
                        <!-- end .form-header section -->
                        <form action="#" id="contact">
                            <div class="panel-body bg-light p30">
                                <div class="row">
                                    <div class="col-sm-7 pr30">
                                        <div class="section">
                                            <label for="username" class="field-label text-muted fs18 mb10">Username</label>
                                            <label for="username" class="field prepend-icon">
                                                <input type="text" name="username" id="username" class="gui-input" placeholder="Enter username">
                                                <label for="username" class="field-icon">
                                                    <i class="fa fa-user"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <!-- end section -->
                                        <div class="section">
                                            <label for="username" class="field-label text-muted fs18 mb10">Password</label>
                                            <label for="password" class="field prepend-icon">
                                                <input type="password" name="password" id="password" class="gui-input" placeholder="Enter password">
                                                <label for="password" class="field-icon">
                                                    <i class="fa fa-lock"></i>
                                                </label>
                                            </label>
                                        </div>
                                        <!-- end section -->
                                    </div>
                                    <div class="col-sm-5 br-l br-grey pl30">
                                        <h3 class="mb25"> You'll Have Access To Your:</h3>
                                        <p class="mb15">
                                            <span class="fa fa-check text-success pr5"></span> Unlimited Email Storage</p>
                                        <p class="mb15">
                                            <span class="fa fa-check text-success pr5"></span> Unlimited Photo Sharing/Storage</p>
                                        <p class="mb15">
                                            <span class="fa fa-check text-success pr5"></span> Unlimited Downloads</p>
                                        <p class="mb15">
                                            <span class="fa fa-check text-success pr5"></span> Unlimited Service Tickets</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end .form-body section -->
                            <div class="panel-footer clearfix p10 ph15">
                                <button type="button" class="button btn-primary mr10 pull-right" id="login">Sign In</button>
                            </div>
                            <!-- end .form-footer section -->
                        </form>
                    </div>
                </div>
            </section>
            <!-- End: Content -->
        </section>
        <!-- End: Content-Wrapper -->
    </div>
    <!-- End: Main -->

    <!-- BEGIN: PAGE SCRIPTS -->

    <!-- CanvasBG Plugin(creates mousehover effect) -->
    <script type="text/javascript" src="js/vendor/plugins/canvasbg/canvasbg.js"></script>

    <!-- Theme Javascript -->
    <script type="text/javascript" src="css/assets/js/utility/utility.js"></script>
    <script type="text/javascript" src="css/assets/js/demo/demo.js"></script>
    <script type="text/javascript" src="css/assets/js/main.js"></script>

    <!-- Page Javascript -->
    <script type="text/javascript">
        $(document).ready(function(){
            "use strict";

            // Init Theme Core      
            Core.init();

            // Init Demo JS
            Demo.init();

            // Init CanvasBG and pass target starting location
            CanvasBG.init({
                Loc: {
                    x: window.innerWidth / 2,
                    y: window.innerHeight / 3.3
                },
            });

            $('#username').keyup(function () {
                this.value = this.value.toUpperCase();
            });

            $('#password').keyup(function () {
                this.value = this.value.toUpperCase();
            });

            $('input').keypress(function (e) {
                if (e.which == 13) {
                    $("#login").click();
                }
            });

            $("#login").click(function(){
                var username = $("#username").val();
                var password = $("#password").val();
                // Checking for blank fields.
                if ( username == '' || password == '') {
                    $('input[type="text"],input[type="password"]').addClass("has-error-login");
                } else {
                    $('input[type="text"],input[type="password"]').removeClass("has-error-login");
                    $.get("checklogin",{ username1: username, password1:password},
                        function(data) {
                            if (data[0].LOGIN === "TRUE") {
                                $.session.set('username', data[0].USERID);
                                $.session.set('locatcd', data[0].LOCATCD);
                                $.session.set('officecode', data[0].CUSCOD);
                                $.session.set('level', data[0].LEVEL);
                                $.session.set('keydisc', data[0].KEYDISC);
                                $.session.set('changelocat', data[0].CHGLOC);
                                $.session.set('changedate', data[0].CHGDATE);
                                window.location.href = 'index';
                            } else {
                                $('input[type="text"],input[type="password"]').addClass("has-error-login");
                            }
                        }
                    );
                }
            });
        });
    </script>

    <!-- END: PAGE SCRIPTS -->

</body>

</html>