<div class="row" id="spy2">
    <!-- Chart with filter Widget -->
    <div class="col-md-12 admin-grid">
        <div class="panel" id="p2">
            <div class="panel-heading">
                <span class="panel-icon"><span class="glyphicons glyphicons-imac"></span></span>
                <span class="panel-title">กำหนดรหัสอุปกรณ์เสริม</span>
                <span class="panel-controls">
                    <a href="#" class="panel-control-loader"></a>
                    <a href="#" class="panel-control-remove"></a>
                    <a href="#" class="panel-control-collapse"></a>
                    <a href="#" class="panel-control-fullscreen"></a>
                </span>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" id="fmSetoptmast">
                    <div class="p15 pt5 mt15">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Start -->
                                <div class="admin-form">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="optcode">รหัสอุปกรณ์เสริม</label>
                                        <div class="col-md-9">
                                            <div class="bs-component">
                                                <input type="text" id="optcode" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="optnmth">รายละเอียดอุปกรณ์เสริม</label>
                                        <div class="col-md-9">
                                            <div class="bs-component">
                                                <input type="text" id="optnmth" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="gcode">หน่วยนับ</label>
                                        <div class="col-md-9">
                                            <div class="bs-component">
                                                <div id="gcode" class="input-button">
                                                    <input type="text" id="v-gcode" />
                                                    <div id="searchUnit"><img alt="search" width="20" height="20" src="/images/search_lg.png" /></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="memo1">รายละเอียดอื่นๆ</label>
                                        <div class="col-md-9">
                                            <div class="bs-component">
                                                <input type="text" id="memo1" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="optcost">ราคาทุน</label>
                                        <div class="col-md-9">
                                            <div class="bs-component">
                                                <div style='margin-top: 3px;' id='optcost'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="optprc">ราคาขายต่อหน่วย</label>
                                        <div class="col-md-9">
                                            <div class="bs-component">
                                                <div style='margin-top: 3px;' id='optprc'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <div class="bs-component">
                                                <button type="button" id="newBtn"><span class="fa fa-refresh"></span> เริ่มใหม่</button>
                                                <button type="button" id="saveBtn"><span class="fa fa-floppy-o"></span> บันทึก</button>
                                                <button type="button" id="searchBtn"><span class="fa fa-search"></span> ค้นหา</button>
                                                <button type="button" id="deleteBtn"><span class="fa fa-trash-o"></span> ลบ</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end: .col-md-12.admin-grid -->
</div>
<!-- end: .row -->
<script type="text/javascript">
    $(document).ready(function() {
        var status = 'insert';
        $('.admin-panels').adminpanel({
            grid: '.admin-grid',
            callback: function() {
                bootbox.confirm('<h3>A Custom Callback!</h3>', function() {});
            },
            onFinish: function() {
                $('.admin-panels').addClass('animated fadeIn').removeClass('fade-onload');
                demoHighCharts.init();
            },
            onSave: function() {
                $(window).trigger('resize');
            }
        });

        $("#optcode").jqxInput({
            placeHolder: "Enter a code",
            height: 25,
            width: 300,
            maxLength: 30
        });
        $("#optnmth").jqxInput({
            placeHolder: "Enter a description",
            height: 25,
            width: 300,
            maxLength: 50
        });
        $("#gcode").jqxInput({
            placeHolder: "Enter a unit",
            height: 25,
            width: 300,
            maxLength: 50
        });
        $("#memo1").jqxInput({
            placeHolder: "",
            height: 25,
            width: 300,
            maxLength: 1024
        });
        $("#optcost").jqxNumberInput({
            width: '250px',
            height: '25px',
            symbol: '฿',
            spinButtons: true
        });
        $("#optprc").jqxNumberInput({
            width: '250px',
            height: '25px',
            symbol: '฿',
            spinButtons: true
        });

        $("#newBtn").jqxButton({
            template: "info",
            width: 90
        });
        $("#saveBtn").jqxButton({
            template: "primary",
            width: 90
        });
        $("#searchBtn").jqxButton({
            template: "success",
            width: 90
        });
        $("#deleteBtn").jqxButton({
            disabled: true,
            template: "danger",
            width: 90
        });

        function statusChange(disabled) {
            if (disabled === false) {
                status = 'insert';
                $('#optcode').val('');
                $('#optnmth').val('');
                $('#gcode').val('');
                $('#memo1').val('');
                $('#optcost').val(0);
                $('#optprc').val(0);
            } else {
                status = 'update';
            }
            $('#optcode').jqxInput({
                disabled: disabled
            });
            $("#deleteBtn").jqxButton({
                disabled: !disabled
            });
        }

        var rules = [{
            input: '#optcode',
            message: 'กรุณาระบุรหัสอุปกรณ์เสริม!',
            action: 'keyup, blur',
            rule: 'required'
        }, {
            input: '#optcode',
            message: 'ระบุรหัสรุ่นซ้ำ!',
            action: 'keyup, blur',
            rule: function(input, commit) {
                var optcode = $('#optcode').val();
                if (optcode !== '') {
                    $.ajax({
                        url: "duplicateCheck",
                        type: 'get',
                        data: {
                            table: 'OPTMAST',
                            field: 'OPTCODE',
                            value: optcode
                        },
                        success: function(data) {
                            if (data === true) {
                                commit(true);
                            } else commit(false);
                        },
                        error: function() {
                            commit(false);
                        }
                    });
                }
            }

        }];

        $('#fmSetoptmast').jqxValidator({
            hintType: 'label',
            animationDuration: 0,
            closeOnClick: false,
            rules: rules
        });
        //เริ่มใหม่
        $('#newBtn').off().on('click', function() {
            loadHTML("set_optmast");
        });
        //บันทึก
        $('#saveBtn').off().on('click', function() {
            $('#fmSetoptmast').jqxValidator('validate', function(result) {
                if (result) {
                    $.when($.confirmdlg('ต้องการบันทึกข้อมูล?', 'info')).then(function() {
                        var valueJSON = [{
                            status: status,
                            table: 'OPTMAST',
                            field: 'OPTCODE',
                            key: $('#optcode').val(),
                            value: [{
                                OPTCODE: $('#optcode').val(),
                                OPTNMTH: $('#optnmth').val(),
                                GCODE: $('#gcode').val(),
                                MOMO1: $('#memo1').val(),
                                OPTCOST: $('#optcost').val(),
                                OPTPRC: $('#optprc').val()
                            }]
                        }];
                        //valueJSON.push();
                        // Convert Value To JSON String
                        var value = JSON.stringify(valueJSON);
                        $('#ok').click(function(event) {
                            $.ajax({
                                url: 'saveOne',
                                type: 'POST',
                                contentType: "application/json",
                                dataType: "json",
                                data: value,
                                success: function(data) {
                                    if (data === true) {
                                        ShowMessage("บันทึกข้อมูลเรียบร้อย!", "success");
                                        statusChange(false);
                                    } else {
                                        ShowMessage("บันทึกไม่สำเร็จ!", "danger");
                                    }
                                }
                            });
                        });
                    });
                }
            });
        });
        //ค้นหา
        $('#searchBtn').off().on('click', function() {
            var rules2 = rules.slice();
            rules2.splice(1, 1);
            $('#fmSetoptmast').jqxValidator('rules', rules2);
            //Show Dialog Search
            searchAll('optmast', 'optcode');
            $('#okButton').on('click', function() {
                statusChange(true);
                $.ajax({
                    async: false,
                    method: 'GET',
                    dataType: 'json',
                    url: "sqltext",
                    data: {
                        sql: "SELECT * FROM OPTMAST WHERE OPTCODE = '" + $('#optcode').val() + "' "
                    },
                    success: function(data) {
                        $('#optnmth').val(data[0].OPTNMTH);
                        $('#gcode').val(data[0].GCODE);
                        $('#optcost').val(data[0].OPTCOST);
                        $('#optprc').val(data[0].OPTPRC);
                        $('#memo1').val(data[0].MOMO1);
                    }
                });
            });
        });
        //ค้นหา หน่วยนับ
        $('#searchUnit').off().on('click', function() {
            //Show Dialog Search
            searchAll('setgroup', 'gcode');
        });
        //ลบ
        $('#deleteBtn').off().on('click', function() {
            $.when($.confirmdlg('ต้องการลบข้อมูล?', 'warning')).then(function() {
                $('#ok').click(function(event) {
                    var valueJSON = [{
                        table: 'OPTMAST',
                        field: 'OPTCODE',
                        key: $('#optcode').val(),
                    }];
                    // Convert Value To JSON String
                    var value = JSON.stringify(valueJSON);
                    $.ajax({
                        async: false,
                        method: 'POST',
                        dataType: 'json',
                        url: "delete",
                        data: value,
                        success: function(data) {
                            if (data === true) {
                                ShowMessage("ลบข้อมูลเรียบร้อย!", "success");
                                statusChange(false);
                            }
                        },
                        error: function(xhr, status, error) {
                            ShowMessage("ลบข้อมูลไม่สำเร็จ! ", "danger");
                        }
                    });
                });
            });
        });
    });
</script>