<div class="row" id="spy2">
    <!-- Chart with filter Widget -->
    <div class="col-md-12 admin-grid">
        <div class="panel" id="p2">
            <div class="panel-heading">
                <span class="panel-icon"><span class="glyphicons glyphicons-imac"></span></span>
                <span class="panel-title">กำหนดแบบสินค้า</span>
                <span class="panel-controls">
                    <a href="#" class="panel-control-loader"></a>
                    <a href="#" class="panel-control-remove"></a>
                    <a href="#" class="panel-control-collapse"></a>
                    <a href="#" class="panel-control-fullscreen"></a>
                </span>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" id="fmSetbaab">
                    <div class="p15 pt5 mt15">
                        <div class="row">
                            <div class="col-md-12">

                                <!-- Start -->
                                <div class="admin-form">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="baabcode">รหัสแบบสินค้า</label>
                                        <div class="col-md-9">
                                            <div class="bs-component">
                                                <input type="text" id="baabcode" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="baabdesc">รายละเอียดแบบสินค้า</label>
                                        <div class="col-md-9">
                                            <div class="bs-component">
                                                <input type="text" id="baabdesc" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="baabgroup">กลุ่มแบบ</label>
                                        <div class="col-md-9">
                                            <div class="bs-component">
                                                <input type="text" id="baabgroup" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="ccinv">CC ในการรับเข้า</label>
                                        <div class="col-md-9">
                                            <div class="bs-component">
                                                <div style='margin-top: 3px;' id='ccinv'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="ccreg">CC ทางทะเบียน</label>
                                        <div class="col-md-9">
                                            <div class="bs-component">
                                                <div style='margin-top: 3px;' id='ccreg'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="modelcode">รหัสรุ่นสินค้า</label>
                                        <div class="col-md-9">
                                            <div class="bs-component">
                                                <div id="modelcode" class="input-button">
                                                    <input type="text" id="v-modelcode" />
                                                    <div id="searchModelcode"><img alt="search" width="20" height="20" src="/images/search_lg.png" /></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-9">
                                            <div class="bs-component">
                                                <button type="button" id="newBtn"><span class="fa fa-refresh"></span> เริ่มใหม่</button>
                                                <button type="button" id="saveBtn"><span class="fa fa-floppy-o"></span> บันทึก</button>
                                                <button type="button" id="searchBtn"><span class="fa fa-search"></span> ค้นหา</button>
                                                <button type="button" id="deleteBtn"><span class="fa fa-trash-o"></span> ลบ</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end: .col-md-12.admin-grid -->
</div>
<!-- end: .row -->
<script type="text/javascript">
    $(document).ready(function() {
        var status = 'insert';
        $('.admin-panels').adminpanel({
            grid: '.admin-grid',
            callback: function() {
                bootbox.confirm('<h3>A Custom Callback!</h3>', function() {});
            },
            onFinish: function() {
                $('.admin-panels').addClass('animated fadeIn').removeClass('fade-onload');
                demoHighCharts.init();
            },
            onSave: function() {
                $(window).trigger('resize');
            }
        });

        $("#baabcode").jqxInput({
            placeHolder: "Enter a baab code",
            height: 25,
            width: 300,
            maxLength: 20
        });
        $("#baabdesc").jqxInput({
            placeHolder: "Enter a baab description",
            height: 25,
            width: 300,
            maxLength: 20
        });
        $("#baabgroup").jqxInput({
            placeHolder: "Enter a group baab",
            height: 25,
            width: 300,
            maxLength: 30
        });
        $("#ccinv").jqxNumberInput({ width: '250px', height: '25px', symbol: '$', spinButtons: true });
        $("#ccreg").jqxNumberInput({ width: '250px', height: '25px', symbol: '$', spinButtons: true });
        
        $("#modelcode").jqxInput({
            placeHolder: "Enter a model code",
            height: 25,
            width: 300,
            maxLength: 20
        });

        $("#newBtn").jqxButton({
            template: "info",
            width: 90
        });
        $("#saveBtn").jqxButton({
            template: "primary",
            width: 90
        });
        $("#searchBtn").jqxButton({
            template: "success",
            width: 90
        });
        $("#deleteBtn").jqxButton({
            disabled: true,
            template: "danger",
            width: 90
        });

        function statusChange(disabled) {
            if (disabled === false) {
                status = 'insert';
                $('#baabcode').val('');
                $('#baabdesc').val('');
                $('#baabgroup').val('');
                $('#ccinv').val(0);
                $('#ccreg').val(0);
                $('#modelcode').val('');
            } else {
                status = 'update';
            }
            $('#baabcode').jqxInput({
                disabled: disabled
            });
            $("#deleteBtn").jqxButton({
                disabled: !disabled
            });
        }

        var rules = [{
            input: '#baabcode',
            message: 'กรุณาระบุรหัสแบบ!',
            action: 'keyup, blur',
            rule: 'required'
        }, {
            input: '#baabcode',
            message: 'ระบุรหัสแบบซ้ำ!',
            action: 'keyup, blur',
            rule: function(input, commit) {
                var baabcode = $('#baabcode').val();
                if (baabcode !== '') {
                    $.ajax({
                        url: "duplicateCheck",
                        type: 'get',
                        data: {
                            table: 'SETBAAB',
                            field: 'BAABCOD',
                            value: baabcode
                        },
                        success: function(data) {
                            if (data === true) {
                                commit(true);
                            } else commit(false);
                        },
                        error: function() {
                            commit(false);
                        }
                    });
                }
            }
        }, {
            input: '#modelcode',
            message: 'กรุณาระบุรหัสรุ่น!',
            action: 'keyup, blur, focusout',
            rule: 'required'
        }, {
            input: '#modelcode',
            message: 'ไม่พบรหัสรุ่นนี้!',
            action: 'keyup, blur, focusout',
            rule: function(input, commit) {
                var modelcode = $('#modelcode').val();
                if (modelcode !== '') {
                    $.ajax({
                        url: "duplicateCheck",
                        type: 'get',
                        data: {
                            table: 'SETMODEL',
                            field: 'MODELCOD',
                            value: modelcode
                        },
                        success: function(data) {
                            if (data === true) {
                                commit(false);
                            } else commit(true);
                        },
                        error: function() {
                            commit(false);
                        }
                    });
                }
            }
        }];

        $('#fmSetbaab').jqxValidator({
            hintType: 'label',
            animationDuration: 0,
            closeOnClick: false,
            rules: rules
        });
        //เริ่มใหม่
        $('#newBtn').off().on('click', function() {
            loadHTML("set_setbaab");
        });
        //บันทึก
        $('#saveBtn').off().on('click', function() {
            $('#fmSetbaab').jqxValidator('validate', function(result) {
                if (result) {
                    $.when($.confirmdlg('ต้องการบันทึกข้อมูล?', 'info')).then(function() {
                        var valueJSON = [{
                            status: status,
                            table: 'SETBAAB',
                            field: 'BAABCOD',
                            key: $('#baabcode').val(),
                            value: [{
                                BAABCOD: $('#baabcode').val(),
                                BAABDESC: $('#baabdesc').val(),
                                BAABGRP: $('#baabgroup').val(),
                                CC_INV: $('#ccinv').val(),
                                CC_REG: $('#ccreg').val(),
                                MODELCOD: $('#modelcode').val()
                            }]
                        }];
                        //valueJSON.push();
                        // Convert Value To JSON String
                        var value = JSON.stringify(valueJSON);
                        $('#ok').click(function(event) {
                            $.ajax({
                                url: 'saveOne',
                                type: 'POST',
                                contentType: "application/json",
                                dataType: "json",
                                data: value,
                                success: function(data) {
                                    if (data === true) {
                                        ShowMessage("บันทึกข้อมูลเรียบร้อย!", "success");
                                        statusChange(false);
                                    } else {
                                        ShowMessage("บันทึกไม่สำเร็จ!", "danger");
                                    }
                                }
                            });
                        });
                    });
                }
            });
        });
        //ค้นหา
        $('#searchBtn').off().on('click', function() {
            var rules2 = rules.slice();
            rules2.splice(1, 1);
            $('#fmSetbaab').jqxValidator('rules', rules2);
            //Show Dialog Search
            searchAll('setbaab', 'baabcode');
            $('#okButton').on('click', function() {
                statusChange(true);
                $.ajax({
                    async: false,
                    method: 'GET',
                    dataType: 'json',
                    url: "sqltext",
                    data: {
                        sql: "SELECT * FROM SETBAAB WHERE BAABCOD = '" + $('#baabcode').val() + "' "
                    },
                    success: function(data) {
                        $('#baabdesc').val(data[0].BAABDESC);
                        $('#baabgroup').val(data[0].BAABGRP);
                        $('#ccinv').val(data[0].CC_INV);
                        $('#ccreg').val(data[0].CC_REG);
                        $('#modelcode').val(data[0].MODELCOD);
                    }
                });
            });
        });
        //ค้นหา รุ่นสินค้า
        $('#searchModelcode').off().on('click', function() {
            //Show Dialog Search
            searchAll('setmodel', 'modelcode');
        });
        //ลบ
        $('#deleteBtn').off().on('click', function() {
            $.when($.confirmdlg('ต้องการลบข้อมูล?', 'warning')).then(function() {
                $('#ok').click(function(event) {
                    var valueJSON = [{
                        table: 'SETBAAB',
                        field: 'BAABCOD',
                        key: $('#baabcode').val(),
                    }];
                    // Convert Value To JSON String
                    var value = JSON.stringify(valueJSON);
                    $.ajax({
                        async: false,
                        method: 'POST',
                        dataType: 'json',
                        url: "delete",
                        data: value,
                        success: function(data) {
                            if (data === true) {
                                ShowMessage("ลบข้อมูลเรียบร้อย!", "success");
                                statusChange(false);
                            }
                        },
                        error: function(xhr, status, error) {
                            ShowMessage("ลบข้อมูลไม่สำเร็จ! ", "danger");
                        }
                    });
                });
            });
        });
    });
</script>
